<% provide(:title, 'About') %>
<h1>About This App</h1>
<p>
  This template app includes the following features:
</p>
<p> - User signup and login functionality</br>
	- Secure, encypted passwords for authentication using 'bcrypt-ruby' ruby gem</br>
	- Static pages, such as "Home", "About", "Contact", and "Help" (which you should modify!)</br>
	- Validations in signup and signin forms</br> 
	- PostgreSQL database (with users table)</br>
	- Bootstrap CSS styling (also includes sass)</br>
	- Gravatar images provided by gravatar.com</br>
</p>