<% provide(:title, 'Home') %>
<div class="center">
	<% if !signed_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>
<script type="text/javascript">
$(function(){
  $('#nav-home').addClass('active');
});
</script>

