<div class="center">
	<div class="btn-group pull-left">
		<button class="btn">back</button>
	</div>
	<div class="btn-group pull-right">
		<button class="btn"><i class="icon-eye-open"></i></button>
		<button class="btn"><i class="icon-cog"></i></button>
	</div>
	<div id="book">
		<div id="book_pages">
			<div id="left_book" class="book_page">
				<div class="chapter_title">
					Chapter 1: The Start
				</div>
				<p>
					&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet semper libero. Sed auctor, dui sit amet adipiscing condimentum, nulla ipsum ultrices lectus, vel hendrerit sapien arcu eget libero. Vestibulum aliquet leo et tellus rutrum varius. Duis mattis mi id nisl gravida fringilla. Sed tellus lectus, laoreet eget dapibus sit amet, luctus a est. Quisque posuere congue tristique. Nullam at lacus id felis tincidunt tincidunt at eget felis. Nulla facilisi. In sit amet est mauris, in vestibulum ipsum. Integer scelerisque diam ut ante tristique sollicitudin. Aliquam mattis mollis pretium.
				</p>
				<p>
					&nbsp;&nbsp;&nbsp; Mauris volutpat lacinia odio, eu rhoncus urna semper in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nulla, lobortis vitae porttitor vitae, rutrum convallis urna. Suspendisse augue dolor, laoreet nec luctus in, porttitor a elit. Donec id lorem dolor. Sed mollis tincidunt venenatis. Ut imperdiet pretium nisi, quis aliquet diam posuere vel. Integer in mi nisi, sit amet tristique arcu. Quisque at velit id est porttitor euismod
				</p>
			</div>
			<div id="right_book" class="book_page">
				<p>
					nulla ipsum ultrices lectus, vel hendrerit sapien arcu eget libero. Vestibulum aliquet leo et tellus rutrum varius. Duis mattis mi id nisl gravida fringilla. Sed tellus lectus, laoreet eget dapibus sit amet, luctus a est. Quisque posuere congue tristique. Nullam at lacus id felis tincidunt tincidunt at eget felis. Nulla facilisi. In sit amet est mauris, in vestibulum ipsum. Integer scelerisque diam ut ante tristique sollicitudin. Aliquam mattis mollis pretium. a elit. Donec id lorem dolor.
				</p>
				<p>
					Mauris volutpat lacinia odio, eu rhoncus urna semper in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nulla, lobortis vitae porttitor vitae, rutrum convallis urna. Suspendisse augue dolor, laoreet nec luctus in, porttitor a elit. Donec id lorem dolor. Sed mollis tincidunt venenatis. Ut imperdiet pretium nisi, quis aliquet diam posuere vel. Integer in mi nisi, sit amet tristique arcu. Quisque at velit id est porttitor euismod
				</p>
			</div>
		</div>
	</div>
	<% if !signed_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>
<script>
$(function(){
});
</script>