<div>
	<blockquote class="bg-quote">
	  <p>
	  	"<%= @quote %>"
	  </p>
	</blockquote>
	<hr/>
	<div id="book-input-comment">
		<textarea rows="1" placeholder="Add Comment..."></textarea>
	</div>
	<div style="display:block;height:75px;">
		<div>
			<div class="person">
				<img src="/assets/larry_page.png" class="people_img"/>
				<div>Larry Page</div>
			</div>
		</div>
		<div>
			Even with great processes and abundant resources, it's still difficult to have success.
			<small class="pull-right">Reply</small>
		</div>
	</div>
	<div style="display:block;margin-left:20px;">
		<div>
			<div class="person">
				<img src="/assets/andrew_chapello.png" class="people_img"/>
				<div>Andrew Chapello</div>
			</div>
		</div>
		<div>
			You mean waterfall development doesn't work everytime? Don't you have to design before you build?
			<small class="pull-right">Reply</small>
		</div>
	</div>
</div>