<div>
	<blockquote class="bg-quote">
	  <p>
	  	"<%= @quote %>"
	  </p>
	</blockquote>
	<hr/>
	<div id="book-input-comment">
		<textarea rows="1" placeholder="Add Comment..."></textarea>
	</div>
	<div>
		<div>
			<div class="person">
				<img src="/assets/jack_dorsey.png" class="people_img"/>
				<div>Jack Dorsey</div>
			</div>
		</div>
		<div>
			I felt the same exact way when I was starting twitter. Bottom line you need to figure it out, and then start a shitty mobile payments company!
		</div>
	</div>
</div>