// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.books{
	text-align:left;
	padding:5px;
	h1{
		text-align:left;
	}
}
.book_nav{

}
.person{
	float:left;
}