<div id="info-cont">
	<div class="info-image">
		<img class="bkimg" src="/assets/theleanstartup.jpg" />
	</div>
	<div class="bk-title">
		<h1>
			The Lean Startup
		</h1>
		<p>
			<small>by Eric Ries</small>
		</p>
		<p>
			Shodaf adsf j iodsfj dsaiofoiads fialdsfh jadshfkjdsa akjdfjkadsn fkajsdf f adskfljdasfadshf adsfsh fadsjksfdssfsda hsgfsassdnfse4iogtoervgh lierse hhgssd nfe gn sdakkfakj g jb as dsjgnerrekgn  4 ngk antjkngj wantwg rgaerj gnfjkdg4 t gea awef ndsagnawy g reew g aew lkwreakrgna g gsag akl gntng4 oithjiv 4wj gfioeaofnaeefgn wg iagniwent3infeaocmewoint tt  tewafn eefaw fewi ifw fewf
		</p>
	</div>
</div>